#border {
    position: absolute;
    height: 400px;
    width: 400px;
    border: solid 3px black;
    background-color: white;
}

.square {
    position: absolute;
    height: 60%;
    width: 60%;
}

#red {
    left: 0;
    top: 0;
    background-color: red;
}

#blue {
    left: 40%;
    top: 40%;
    background-color: blue;
}

#green {
    left: 20%;
    top: 20%;
    background-color: lime;
}
